<meta name="viewport" content="width=device-width, initial-scale=1.0">

body {
  background-color: blue;
  font-family: Copperplate, Fantasy;
}

h1 {
  color: green;
  text-align: center;
  font-size: 32px;
  font-family: Copperplate, Fantasy;
}

h2 {
  color: green;
  text-align: center;
  font-size: 24px;
  font-family: Copperplate, Fantasy;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
