body {
  background-color: lightgray;
  font-family: Copperplate, Fantasy;
}

h1 {
  color: green;
  text-align: center;
  font-size: 64px;
  font-family: Copperplate, Fantasy;
}

h2 {
  color: blue;
  text-align: center;
  font-size: 32px;
  font-family: Copperplate, Fantasy;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-family: Copperplate, Fantasy;
  color: darkgray
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: Copperplate, Fantasy;
  color: black
}

li {
  padding: 10px;
  margin-bottom: 5px;
}

ul ul {
  margin-left: 20px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Copperplate, Fantasy;
}

.item {
  flex: 1;
  height: 50px;
  margin: 10px;
  font-family: Copperplate, Fantasy;
}

